// Nova Tool CSS
.bottom-0 {
    bottom: 0;
}
.right-0 {
    right: 0;
}

// Overrides
.nova-notifications-dropdown {
  .trigger {
    height: 30px;
  }

  .dropdown-trigger {
    padding: 0;

    svg {
      display: none;
    }
  }
}
